<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75b48e">  <td>19/05/18 13:56:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Testcase.setup()[pri:0, instance:com.Test.Testcase@9629756]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/05/18 13:56:33</td>   <td>3955</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testcase.tearDown()[pri:0, instance:com.Test.Testcase@9629756]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/05/18 13:56:32</td>   <td>2943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase.testMenuOptions()[pri:0, instance:com.Test.Testcase@9629756]">testMenuOptions</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>19/05/18 13:56:33</td>   <td>3127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase.test_Home_Page_Appear_Correct()[pri:0, instance:com.Test.Testcase@9629756]">test_Home_Page_Appear_Correct</td> 
  <td>main@152134087</td>   <td></td> </tr>
</table>
